Django==5.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
django-q2==1.6.1
django-cors-headers==4.3.1
psycopg[binary]>=3.2
python-decouple==3.8
google-cloud-documentai==2.29.0
azure-ai-documentintelligence==1.0.0
requests==2.31.0
africastalking==1.2.3
weasyprint==60.1
django-storages[azure]==1.14.2
azure-storage-blob==12.19.0
pymongo[srv]==4.8.0
web3==6.11.3
py-solc-x==2.0.2
cryptography>=41.0.0
Pillow>=11.0.0
black>=24.0.0
isort==5.13.2
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
factory-boy==3.3.0
dj-database-url==3.1.2
